.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* color */
/* base set*/
body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #6e6e6e;
}
header {
  background: #f5f5f5 url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
section {
  padding-top: 10%;
  padding-bottom: 10%;
}
.section_header {
  margin-bottom: 5%;
}
.section_header h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.section_header h2 span {
  color: #fc7254;
}
.section_header p {
  font-size: 16px;
}
/* header */
.main_head {
  margin-top: 5%;
}
.main_nav {
  text-align: right;
}
.main_nav_bar {
  position: relative;
  width: 34px;
  float: right;
  margin-top: 5%;
}
.main_text {
  margin-top: 5%;
  text-align: center;
}
.main_text h1 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.main_text h1 span {
  color: #fc7254;
}
.main_text p {
  padding-left: 15px;
  padding-right: 18px;
  font-size: 16px;
}
.main_form {
  margin-top: 8%;
  background-color: #ffffff;
  padding: 29px 39px 20px 39px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
}
.main_form_header {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}
.main_form_header span {
  color: #fc7254;
}
.main_form input,
.main_form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #706b73;
  margin-top: 30px;
  font-size: 15px;
}
.main_form_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ff5c36;
  border: none;
  padding: 18px 66px 18px 66px;
  color: #ffffff;
  font-size: 16px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.main_form_btn:hover {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}
.logo {
  border: 3px solid #706b73;
  width: 155px;
  height: 55px;
  text-align: center;
  line-height: 49px;
}
.logo p {
  color: #706b73;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.logo p span {
  color: #fc876d;
}
.line {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 34px;
  height: 4px;
  background-color: #706b73;
  -webkit-border-radius: 5px;
  -moz--border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
.line:before,
.line:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 34px;
  height: 4px;
  background-color: #706b73;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.line:before {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
}
.line:after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
/* process section */
.process_box {
  padding: 50px 30px;
  text-align: center;
  color: #ffffff;
}
.process_box:hover {
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
}
.process_box i.fa {
  font-size: 50px;
}
.process_box h4 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 25px;
}
.process_box p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.process_btn {
  border: none;
  background-color: #ffffff;
  color: #6e6e6e;
  padding: 15px;
  width: 80%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  bottom: -30px;
}
.process_btn:hover {
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
}
.btn_plus {
  vertical-align: middle;
  width: 16px;
  height: 2px;
  display: inline-block;
  background-color: #6e6e6e;
}
.btn_plus:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #6e6e6e;
  position: absolute;
  -webkit-transform: rotate(90deg) translateY(8px);
  -ms-transform: rotate(90deg) translateY(8px);
  -o-transform: rotate(90deg) translateY(8px);
  transform: rotate(90deg) translateY(8px);
}
.box_tomi {
  background: #4eb2f7;
}
.box_koimona {
  background: #c049f8;
}
.box_koire {
  background: #817eff;
}
.box_lara {
  background: #f74770;
}
i.fa-camera-retro {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* works */
.works_box {
  height: 360px;
  position: relative;
}
.signature {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}
.signature:hover {
  opacity: 1;
}
.sign p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.sign button {
  border: none;
  padding: 15px 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #fc7254;
}
.works_row {
  margin-top: 3%;
}
/* services section */
.services_list {
  list-style: none;
}
.services_list_item {
  display: block;
  margin: 5px auto;
  width: 104px;
  height: 92px;
  background-color: #fbfbfb;
  text-align: right;
}
.services_info h4 {
  font-size: 30px;
}
.services_info p {
  font-size: 16px;
}
.services_line {
  width: 57px;
  height: 3px;
  background-color: #fc7254;
  display: inline-block;
  margin-bottom: 11px;
}
.services_btn {
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  color: #6e6e6e;
  padding: 15px 55px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  font-size: 16px;
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
  margin-top: 41px;
}
.panel-default .panel-heading h4 {
  color: #fc7254;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
