

.opn-reg {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.opn-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}




/* color */

@grey: #706b73;
@base-text: #6e6e6e;
@bg-grey: #f5f5f5;
@red: #fc7254;
@bcg_btn: #ff5c36;
@white: #fff;
@border: 5px;
@bgc_tomi: #4eb2f7;
@bgc_koimona: #c049f8;
@bgc_koire: #817eff;
@bgc_lara: #f74770;
@bg_list_item: #fbfbfb;

/* base set*/
body {
	font-size: 15px;
	.opn-reg;
	color: @base-text;
}

header {
	background: @bg-grey url(../img/main-bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 700px;
	height: 100vh;
}

input, button, textarea {
	&:focus {
		outline: none;
	}	
}

section {
	padding-top: 10%; 
	padding-bottom: 10%;
}

.section_header {
	margin-bottom: 5%;
	h2 {
		font-size: 50px;
		.opn-bold;
		span {
			color: @red;
		}
	}
	p {
		font-size: 16px;

	}
}

/* header */
.main {
	&_head{
		margin-top: 5%;
	}
	
	&_nav {
		text-align: right;
		&_bar {
			position: relative;
			width: 34px;
			float: right;
			margin-top: 5%;
		}
	}

	&_text {
		margin-top: 5%;
		text-align: center;
		h1 {
			font-size: 50px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			span {
				color: @red;
			}
		}
		p {
			padding-left: 15px;
			padding-right: 18px;
			font-size: 16px;
		}
	}

	&_form {
		margin-top: 8%;
		background-color: @white;
		padding: 29px 39px 20px 39px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
		box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
		&_header {
			font-size: 20px;
			.opn-bold;
			text-align: center;
			span {
				color: @red;
			}
		}
		input, textarea {
			width: 100%;
			border: none;
			border-bottom: 1px solid @grey;
			margin-top: 30px;
			font-size: 15px;
		}

		&_btn {
			display: block;
			margin: 0 auto;
			margin-top: 20px;
			background-color: @bcg_btn;
			border: none;
			padding: 18px 66px 18px 66px;
			color: @white;
			font-size: 16px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			-ms-border-radius: 30px;
			-o-border-radius: 30px;
			border-radius: 30px;

			&:hover {
				box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
			}		
		}
	}
}

.logo {
	border: 3px solid @grey;
	width: 155px;
	height: 55px;
	text-align: center;
	line-height: 49px;

	p {
		color: @grey;
		.opn-bold;
		font-size: 36px;

		span {
			color: lighten(@red, 5%);
		}
	}
}

.line {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 34px;
	height: 4px;
	background-color: @grey;
	-webkit-border-radius: @border;
	-moz--border-radius: @border;
	-ms-border-radius: @border;
	-o-border-radius: @border;
	border-radius: @border;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);

	&:before, &:after {
		content: '';
		display: inline-block;
		position: absolute;
		right: 0;
		top: 50%;
		width: 34px;
		height: 4px;
		background-color: @grey;
		-webkit-border-radius: @border;
		-moz-border-radius: @border;
		-ms-border-radius: @border;
		-o-border-radius: @border;
		border-radius: @border;
	}
	&:before {
		-webkit-transform: translateY(-9px);
		-ms-transform: translateY(-9px);
		-o-transform: translateY(-9px);
		transform: translateY(-9px);
	}

	&:after {
		-webkit-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		transform: translateY(5px);
	}
}

/* process section */

.process {
	&_box {
		padding: 50px 30px;
		text-align: center;
		color: @white;
		&:hover {
			box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
		}
		i.fa {
			font-size: 50px;
		}
		h4 {
			font-size: 20px;
			.opn-bold;
			margin-top: 25px;
		}
		p {
			font-size: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	&_btn {
		border: none;
		background-color: @white;
		color: @base-text;
		padding: 15px;
		width: 80%;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		position: absolute;
		left: 50%;
		margin-left: -40%;
		bottom: -30px;
		&:hover {
			box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
		}
	}
}

.btn_plus {
	vertical-align: middle;
	width: 16px;
	height: 2px;
	display: inline-block;
	background-color: @base-text;

	&:before {
		display: inline-block;
		content: '';
		width: 16px;
		height: 2px;
		background-color: @base-text;
		position: absolute;
		-webkit-transform: rotate(90deg) translateY(8px);
		-ms-transform: rotate(90deg) translateY(8px);
		-o-transform: rotate(90deg) translateY(8px);
		transform: rotate(90deg) translateY(8px);
	}
}

.box {
	&_tomi {
		background: @bgc_tomi;
	}

	&_koimona {
		background: @bgc_koimona;
	}

	&_koire {
		background: @bgc_koire;
	}

	&_lara {
		background: @bgc_lara;
	}
}

i.fa-camera-retro {
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

/* works */

.works_box {
	height: 360px;
	position: relative;
}

.signature {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: @white;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-transition: opacity 0.7s;
	-o-transition: opacity 0.7s;
	transition: opacity 0.7s;
	&:hover {
		opacity: 1;
	}
}

.sign {
	p {
		.opn-bold;
		font-size: 22px;
	}
	button {
		border: none;
		padding: 15px 35px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		background-color: @red;
	}
}

.works_row {
	margin-top: 3%;
}

/* services section */

.services{
	&_list {
		list-style: none;
		&_item {
			display: block;
			margin: 5px auto;
			width: 104px;
			height: 92px;
			background-color: @bg_list_item;
			text-align: right;
		}
	}
	&_info {
		h4 {
			font-size: 30px;
		}
		p {
			font-size: 16px;
		}
	}
	&_line {
		width: 57px;
		height: 3px;
		background-color: @red;
		display: inline-block;
		margin-bottom: 11px;
	}
	&_btn {
		border: 1px solid @bg-grey;
		background-color: @white;
		color: @base-text;
		padding: 15px 55px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		font-size: 16px;
		box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
		margin-top: 41px;
	}
}

.panel-default .panel-heading {
	h4 {
		color: @red;
		.opn-bold;
	}
}